.backgroud_main_body{
  width: 422px;
  height: 625px;
  background: #598bcd;
}

.button_1{
  border-radius: 15px;
  width: 178px;
  height: 83px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(51, 168, 200, 0.44);
}
.click_obj{
  border: 1px solid rgba(40, 43, 37, 0.52);
  border-radius: 999px;
  width: 317px;
  height: 317px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: url("path_to_image");
}

